<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav" style="margin-left: 20px">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ng-click="clearCurrentCategory()" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        
        <div class="navbar-right" style="float: right; margin-top: 9.2px; margin-right: 10px">      
            
            <div ng-show="!user" class="btn-group">
                <button ui-sref="login" class="btn login-button btn-primary">Login / Signup</button>
            </div>

            <div ng-show="user" class="btn-group">
              <button type="button" class="btn btn-primary">Your Account</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ul class="dropdown-menu">
                <li ng-show="user.role === 'Admin'"> &nbsp;&nbsp;<b>User Functions</b></li>
                <li ng-show="user.role === 'Admin'"role="separator" class="divider"></li>
                <li><a ui-sref="orderHistory()">Order History</a></li>
                <li><a href="#">Review History</a></li>
                <li ng-show="user.role === 'Admin'"role="separator" class="divider"></li>
                <li ng-show="user.role === 'Admin'"> &nbsp;&nbsp;<b>Admin Functions</b></li>
                <li ng-show="user.role === 'Admin'"role="separator" class="divider"></li>
                <li ng-show="user.role === 'Admin'"><a ui-sref="categoryList()">Manage Categories</a></li>
                <li ng-show="user.role === 'Admin'"><a ui-sref="orderList()">Manage Orders</a></li>
                <li ng-show="user.role === 'Admin'"><a ui-sref="productList()">Manage Products</a></li>
                <li ng-show="user.role === 'Admin'"><a ui-sref="reviewList()">Manage Reviews</a></li>
                <li ng-show="user.role === 'Admin'"><a ui-sref="userList()">Manage Users</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" ng-click="logout()">Logout</a></li>
              </ul>
            </div>

            <a ui-sref="cart"><button class="btn btn-success" style="float: right; margin-left: 10px;"><span class="glyphicon glyphicon-shopping-cart"></span> <span class="items">{{cartItems}}</span></button>
            </a>
        </div>

        <!-- <form class="navbar-form">
            <div class="form-group" style="display:inline;"> -->
              <div class="input-group" style="margin-top: 9.2px; padding-right: 10px">
                <input type="text" class="form-control" ng-enter="productSearch()" ng-model="searchString" placeholder="Search products...">
                <span class="input-group-addon"><a href="#" ng-click="productSearch()"><span class="glyphicon glyphicon-search"></span></a></span>
              </div>
       <!--      </div>
        </form> -->
    </div>
</nav>