<div id="order">
  <div class="container container-cart"> <!-- Header for Items -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="header-inline">Order #{{order.invoiceNumber}} - Status: {{order.status}}</h4>
      </div>
      <div class="col-md-2">Price</div>
      <div class="col-md-2">Quantity</div>
    </div>
    <hr class="rule">

    <div class="row" ng-repeat="item in order.lineItems"> <!-- List of Items-->
      <div class="col-md-8"> <!-- Items Container -->
        <div class="row">
          <div class="col-md-2 thumbnail">
            <img ng-src="{{item.prod_id.imageUrls[0]}}">
          </div>
          <div class="col-md-6">
            <a ui-sref="product({id: item.prod_id._id})"><b>{{item.prod_id.title}}</b></a>
            <br>
            in <span ng-repeat="category in item.prod_id.categories">{{category.name}}{{$last ? '' : ', '}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-2">${{item.price}}</div> <!-- Price -->
      <div class="col-md-2">
        <!-- Todo: Refactor to only call function when value changes (rather than when input loses focus.) -->
        {{item.quantity}}
      </div> <!-- Quantity -->
    </div>
    <hr class="rule">
  </div>   


  <div class="container container-cart"> <!-- Header for Items -->
    <div class="row">
      <div class="col-md-3 col-md-offset-8 pricing">
        <span class="ng-binding">{{order.numItems}}</span>  items | Subtotal: <h4 class="inline ng-binding">${{order.subtotal}}</h4><br>
        <span ng-show="billingAddress.state">Taxes Owed ({{billingAddress.state}}): <h4 class="inline ng-binding">${{calculateTax()}}</h4></span><br>
        <span ng-show="billingAddress.state">Total: <h4 class="inline ng-binding">${{order.subtotal + calculateTax()}}</h4></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-10 pricing"><br><br>
        <button type="button" ng-show="order.status === 'Ordered'" class="btn btn-primary btn-danger" ng-click="cancelOrder()">Cancel</button><br><br>
      </div>
    </div>

  </div>


</div>
