<div class="container">

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Manage Basic Info</h3>
		</div>
		<div class="panel-body">
			<div class="well well-sm">
				<label>Title:</label>
				<input ng-model="newProduct.title" type="text" class="form-control"><br>
				<label>Price($):</label>
				<input ng-model="newProduct.price" type="text" class="form-control"><br>
				<label>Inventory:</label>
				<input ng-model="newProduct.inventoryQty" type="text" class="form-control"><br>
				<label>Description:</label>
				<textarea ng-model="newProduct.description" class="form-control"></textarea><br>
			</div>
		</div>
	</div>


	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Manage Images</h3>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-10">
					<input ng-model="newImageUrl" type="text" class="form-control" placeholder="Image Url">
				</div>
				<div class="col-md-2">
					<button ng-click="addImage()" type="submit" class="btn btn-primary">Add Image</button>
				</div>
			</div><!-- row -->
			<div style="margin-top:20px" class="row">
				<div class="col-md-3" ng-repeat="img in newProduct.imageUrls">
					<div class="thumbnail">
						<img hi-res="{{img}}" src="./spacer.png">
						<div class="caption">
							<button ng-click="deleteImage(img)" style="margin-top:10px" class="btn btn-danger btn-block">Delete</button>
						</div>
					</div>
				</div>
			</div><!-- row -->
		</div>
	</div>

	<hr>
	<button ng-click="save()" class="btn btn-success btn-block">Save Changes</button>
	<button ng-click="delete()" class="btn btn-warning btn-block">Delete Product</button>	
	<hr>
	<button ng-click="getHistory()" class="btn btn-primary btn-block">Get History</button>
	<hr>

	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Manage Reviews</h3>
		</div>
		<div class="panel-body">
			<div class="list-group">
			  <a ui-sref="editReviews({productId: product._id, reviewId: review._id})" ng-repeat="review in product.reviews" class="list-group-item">
			  	<span class="badge">stars: {{ review.stars }}</span>
			    <h4 class="list-group-item-heading">{{ review.title }} <small>By {{review.user.firstName}} {{review.user.lastName}}</small></h4>
			    <p class="list-group-item-text">{{ review.description }}</p>
			  </a>
			</div>
		</div>
	</div>

</div>

