<h3 ng-show="searchString" class="text-center">Products matching <i><u>{{searchString}}</u></i> </h3>
<h3 ng-show="!searchString" class="text-center">{{category}} </h3>
<br>
<div class="row">
	<div class="col-md-4" dir-paginate="product in products | itemsPerPage: 6">
		<div class="thumbnail">
			<a ui-sref="product({id: product._id })"><img hi-res="{{product.imageUrls[0]}}" src="./spacer.png"></a>
			<div class="caption">
				<a ui-sref="product({id: product._id })">{{ product.title }}</a>
				<span style="float:right">${{ product.price }}</span>
				<rating-stars filled-stars="{{ product.averageStars }}" size="XS" display-only="true"></rating-stars>
				<span>{{ product.reviews.length }} reviews</span>
				<span style="color:red;float:right" ng-show="product.inventoryQty === 0"><b>Sold Out</b></span>
				<button style="margin-top:10px" class="btn btn-primary btn-block" ng-click="addToCart(product)" ng-disabled="product.inventoryQty === 0">Add to Cart</button>
				<button ng-show="userId.role==='Admin'" style="margin-top:10px" class="btn btn-warning btn-block" ng-click="editPage(product._id)">Edit</button>
				<button ng-show="userId.role==='Admin'" style="margin-top:10px" class="btn btn-danger btn-block" ng-click="delete(product._id)">Delete</button>
			</div>
		</div>
	</div>
	<dir-pagination-controls></dir-pagination-controls>
</div><!-- row -->