<div class="container">
	<div class="row">
		<div class="col-md-6">

			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li ng-repeat="imgUrl in product.imageUrls" data-target="#myCarousel" data-slide-to="{{product.imageUrls.indexOf(imgUrl)}}" ng-class="{active:imgUrl===product.imageUrls[0]}"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div ng-repeat="imgUrl in product.imageUrls" class="item" ng-class="{active:imgUrl==product.imageUrls[0]}">
			      <img src="{{imgUrl}}" alt="Chania">
			    </div>
			  </div>

			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>

		</div><!-- col-md-6 -->
		<div class="col-md-6">
			<h1 style="margin-top:0">{{ product.title }}</h1>
			<hr style="background-color:#E6E6E6;height:4px">
			<h2>${{ product.price }}</h2>
			<p ng-class="{'text-danger': product.inventoryQty<6}">{{ product.inventoryQty }} left</p>
			<p>
				Quantity:&nbsp<select ng-model="selectedQuantity" ng-options="num as num for num in getQuantityArray()"></select>
			</p>
			<br>
			<button ng-click="addToCart()" class="btn btn-info">+ Add To Cart</button>
		</div>
	</div>
	<hr>
	<div>
		<h2>Product Description</h2>
		<div class="container">
			<p>{{ product.description }}</p>
		</div>
	</div>
	<hr>
	<h2 style="margin-bottom: 15px">Customer Reviews</h2>
	<div class="row container" style="margin-bottom: 30px">
		<div style="float: left">
			<rating-stars filled-stars="{{ product.averageStars }}" size="SM" display-only="true"></rating-stars>
			<p style="margin-top: -7px;"> &nbsp;&nbsp;{{ roundStars(product.averageStars) }} out of 5 stars</p>
		</div>
		<div style="float: center; margin-top: 20px;" ng-show="user">
			<button style="margin-left: 100px" ng-click='addReview()'>Write a Customer Review</button>
		</div>
	</div>
	<div class="row container" style="margin-bottom: 15px;" ng-repeat="review in product.reviews">
		<div style="float:left; margin-top: 4px;">
			<rating-stars filled-stars="{{review.stars}}" size="XS" display-only="true"></rating-stars>
		</div>
		<div style="float: left; margin-top: 0;">
			<h4 style="float:left; margin-top: 15px;">
			<a ng-show="user._id === review.user._id" ui-sref="editReviews({productId: product._id, reviewId: review._id})"><u>{{ review.title }}</u></a>
			<span ng-show="user._id !== review.user._id">{{ review.title }}</span>
			</h4>
		</div>
		<div style="clear: both; float: left; margin-top: -5px;">
			<p style="margin-top: -5px;""><small>&nbsp;&nbsp;By <a href="#">{{ review.user.firstName }} {{review.user.lastName }}</a><span> &nbsp;&nbsp;{{ review.dateCreated | date:'MM/dd/yyyy' }}</span></p>
		</div>
		<div style="clear: both; float: left;">
			<p style="margin-left: 5px"><big>{{ review.description }}</p>	
		</div>
		
	</div>
	<hr>
</div>