<div>
	<div class="col-sm-12">
		<div class="col-sm-6">
			<h3>Your Past Orders</h3>
		</div>
<!-- 	<div> PLACEHOLDER FOR SEARCH FUNCTIONALITY
			Search Bar
		</div>
		<div class="col-sm-6">
			<button type="submit" ng-click="searchOrders()">Submit</button>
		</div> -->
	</div>
	<div ng-repeat= "order in orders" class="col-sm-12 well" style="margin:1em">
		<div>
			<a ui-sref="orderDetails({id: order._id})">
				<h4>Invoice Number: {{order.invoiceNumber}}</h4><!-- Order Number -->
			</a>
		</div>
		<div style="padding:0em 1em 2em 1em">
			<div class="col-sm-3">
				<h5>Order Date: {{order.dateOrdered.slice(0,10)}} </h5><!-- Date Ordered -->
			</div>
			<div class="col-sm-3">
				<h5>Order Total: ${{order.total}}</h5><!-- Total Order Price -->
			</div>
			<div class="col-sm-3">
				<h5>Order Status: {{order.status}}</h5><!-- Order Status -->
			</div>
			<div class="col-sm-3">
				<h5>Ship To: {{order.shippingAddress.address1}}</h5><!-- Ship To Address -->
			</div>
		</div>
		<div ng-repeat= "lineItem in order.lineItems" class="col-sm-4"  style="padding:1em">
			<div class="col-sm-6">
				<img ng-src={{lineItem.prod_id.imageUrls[0]}} class="img-responsive"> <!-- Order Product Image -->
			</div>
			<div class="cold-sm-6">
				<div>
					{{lineItem.prod_id.title}}<!-- Order Product Name -->
				</div>
				<div>
					Quantity: {{lineItem.quantity}}<!-- Order Product Qty -->
				</div>
				<div>
					Unit Price: ${{lineItem.price}}<!-- Order Product Price -->
				</div>
			</div>
		</div>
	</div>
</div>