
<div class="container container-cart"> <!-- Header for Items -->
  <div class="row">
    <div class="col-md-8">
      <h4 class="header-inline">Shopping Cart</h4>
    </div>
    <div class="col-md-2">Price</div>
    <div class="col-md-2">Quantity</div>
  </div>
  <hr class="rule">

  <div class="row" ng-repeat="item in cart.lineItems"> <!-- List of Items-->
    <div class="col-md-8"> <!-- Items Container -->
      <div class="row">
        <div class="col-md-2 thumbnail"><img src="{{item.prod_id.imageUrls[0]}}"></div>
        <div class="col-md-6"><a ui-sref="product({id: item.prod_id._id})">{{item.prod_id.title}}</a></div>
      </div>
    </div>

    <div class="col-md-2">${{item.price}}</div> <!-- Price -->
    <div class="col-md-2">{{item.quantity}}</div> <!-- Quantity -->
  </div>

</div>   

<div class="container container-checkout"> <!-- Checkout -->
  <div class="row">
    <div class="col-md-8">
      <h4 class="header-inline">Checkout</h4>
    </div>
  </div>
  <hr class="rule">
  <div class="row">
    <div class="col-md-6">
      <h4>Billing Address:</h4>
      <address-form></address-form> <!-- Ask if shipping is same -->
    </div>
    <div class="col-md-6">
      <h4>Shipping Address:</h4>
      <address-form></address-form>
    </div>

    <!-- Submit Button here -->
  </div>
</div>

  <!-- div class="panel panel-default">  
    <div class="list-group list-group-item" ng-repeat="item in cart.lineItems">
      <h4>{{item.prod_id.title}}</h4>
      <p>Qty: {{item.quantity}} (${{item.price}} / each)
        <button ng-click="addToCart(item.prod_id, 1)" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-chevron-up"></span>
        </button>
        <button ng-show="item.quantity > 1" ng-click="addToCart(item.prod_id, -1)" type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-chevron-down"></span>
        </button>
      </p>
      <a href="" ng-click="deleteItem(item.prod_id)"> Remove from Cart </a>
    </div>
  </div> -->
  
  <div class="well">
    <h4 class="ng-binding"> {{cart.numItems}} Items </h4>
    <h4 class="ng-binding"> Subtotal: ${{cart.subtotal}} </h4>
    <h4 class="ng-binding"> Taxes Owed: ${{cart.total - cart.subtotal}} ({{cart.billingAddress.state}})</h4>
    <h4 class="ng-binding">Total: {{cart.total}}</h4>
  </div>

</div>
