<div ng-show="isEmpty()">
  <div class="container">
  <h2>You have nothing in your cart. Why don't you take a look at some of our <a href="/categories">products</a>?</h2>
  </div>
</div>

<div id="cart" ng-hide="isEmpty()">
  <div class="container container-cart"> <!-- Header for Items -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="header-inline">Shopping Cart</h4>
      </div>
      <div class="col-md-2">Price</div>
      <div class="col-md-2">Quantity</div>
    </div>
    <hr class="rule">

    <div class="row" ng-repeat="item in cart.lineItems"> <!-- List of Items-->
      <div class="col-md-8"> <!-- Items Container -->
        <div class="row">
          <div class="col-md-2 thumbnail">
            <img ng-src="{{item.prod_id.imageUrls[0]}}">
          </div>
          <div class="col-md-6">
            <a ui-sref="product({id: item.prod_id._id})"><b>{{item.prod_id.title}}</b></a>
            <br>
            in <span ng-repeat="category in item.prod_id.categories">{{category.name}}{{$last ? '' : ', '}}</span>
            <br><br>
            <a ng-click="deleteItem(item.prod_id)">Delete</a>
          </div>
        </div>
      </div>

      <div class="col-md-2">${{item.price}}</div> <!-- Price -->
      <div class="col-md-2">
        <!-- Todo: Refactor to only call function when value changes (rather than when input loses focus.) -->
        <input ng-blur="setQuantity(item.prod_id, item.quantity)" type="text" class="form-control quantity-input" name="itemQuantity" ng-model="item.quantity"></input>
      </div> <!-- Quantity -->
    </div>
    <hr class="rule">
  </div>   


  <div class="container container-cart"> <!-- Header for Items -->
    <div class="row">
      <div class="col-md-3 col-md-offset-8 pricing">
        <span class="ng-binding">{{cart.numItems}}</span>  items | Subtotal: <h4 class="inline ng-binding">${{cart.subtotal}}</h4><br>
        <span ng-show="billing.state">Taxes Owed ({{billing.state}}): <h4 class="inline ng-binding">${{calculateTax()}}</h4></span><br>
        <span ng-show="billing.state">Total: <h4 class="inline ng-binding">${{cart.subtotal + calculateTax()}}</h4></span>
      </div>
    </div>
  </div>

  <!-- Billing Address Book-->
  <div ng-show="billing.show" class="container container-book"> <!-- Address Book -->
    <div class="row">
      <div class="col-md-12">
        <address-book values="billing" user="cart.userId"></address-book>
      </div>
    </div>
  </div>
  <!-- Shipping Address Book-->
  <div ng-show="shipping.show" class="container container-book"> <!-- Address Book -->
    <div class="row">
      <div class="col-md-12">
        <address-book values="shipping" user="cart.userId"></address-book>
      </div>
    </div>
  </div>  

  <div class="container container-checkout"> <!-- Checkout -->
    <div class="row">
      <div class="col-md-8">
        <h4 class="header-inline">Checkout</h4>
      </div>
    </div>
    <hr class="rule">
    <div ng-show="!user">
      <fieldset class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" ng-model="cart.email">
      </fieldset>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Billing Address:</h4>
        <a href="#" ng-click="toggleAddressBook('billing')">Choose from address book:</a><br><br>
        <address-form values="billing"></address-form> <!-- Ask if shipping is same -->
      </div>
      <div class="col-md-6">
        <h4>Shipping Address:</h4>
        <a href="#" ng-click="toggleAddressBook('shipping')">Choose from address book:</a><br><br>
        <address-form values="shipping"></address-form>
      </div>

      <!-- Submit Button here -->
      <div class="row">
        <div class="col-md-2 col-md-offset-10 pricing">
          <button type="button" class="btn btn-primary btn-submit" ng-click="submitOrder()">Submit</button><br><br>
        </div>
      </div>

    </div>
  </div>
</div>
